<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="~{fragments/main_layout}">
<head>
</head>
<body>
<div layout:fragment="content">
 <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(images/bg_1.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate">
          	<span class="subheading">Welcome to Leave Management System</span>
           <!--  <h1 class="mb-4">We Are The Best Consulting Agency</h1> -->
           
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url(images/bg_2.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate">
          	<span class="subheading">Welcome to Leave Management System</span>
          </div>
        </div>
        </div>
      </div>
	  </section>
</div>
</body>
</html>