<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="ISO-8859-1">
<title>UserRegistration</title>

</head>
<body>
	<div layout:fragment="content" class="container mySpace">
		<div align="center" class="roleCustomize">
			<h1>Add Role Name</h1>
			<br>
			<form class="form-horizontal" action="#" th:action="@{/RoleCreationsuccess}"
				th:object="${roleCreation}" method="post">
				<fieldset>


					<!-- Text input-->
					<div class="form-group">
						<div class="col-md-5">
							<input  th:field="*{name}" name="Role Name" type="text"
								placeholder="ROLE_ADMIN" class="form-control input-md"
								required="Required Role Name">

						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for=""></label>
						<div class="col-md-4">
							<button id="" name="" class="btn btn-primary">Add</button>
						</div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>